*{
    font-family: Arial, Helvetica, sans-serif;
}

.goblinContainer {
  padding: 15px;
  border: 2px solid #444;
  border-radius: 8px;
  width: 250px;
  background-color: #f4f4f9;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.goblinContainer:hover {
  transform: translateY(-5px);
}

.goblinList {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  margin: 5px 0;
}

.name {
  color: #ff6347;
  font-size: 20px;
  font-weight: bold;
}

.description {
  color: #555;
  font-size: 14px;
  line-height: 1.5;
  margin: 5px 0;
}

.health {
  font-weight: bold;
  margin: 10px 0;
  color: #333; 
}

.attack-button {
  padding: 10px 20px;
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s, transform 0.2s;
}

.attack-button:hover {
  background-color: #e53e3e;
  transform: scale(1.05);
}

.success {
  color: green;
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
}

